
{% load staticfiles %}<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Uber-clone</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Uber</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
            <form>
                <input type="text"  id="start" placeholder="start" required>
                <input type="text"  id="stop" placeholder="destination" required>
            </form>
            <button class="btn btn-info" id="getroute" >route</button>
        </div>
        <div class="col-lg-10 text-center">
         <div id="map">

         </div>
         <div id="gmap" hidden>

        </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'src/leaflet/leaflet-src.js' %}"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="{% static 'src/plugins/AnimatedMarker.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&amp;libraries=places&key=AIzaSyBLkJ1gRz6kZflxbqI74k3IEwETD943EtQ"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.4/jquery.geocomplete.min.js"></script>
    
    <script src="{% static 'src/plugins/lrm-google/lrm-google.js' %}"></script>
    <script src="{% static 'src/plugins/snake.js' %}"></script>
    <script src="{% static 'src/plugins/turf.min.js' %}"></script>
    <script src="{% static 'src/plugins/leaflet.ajax.min.js' %}"></script>
    <script src="{% static 'js/portal.js' %}"></script>
    <script>
            $("#start").geocomplete(); 
            $("#stop").geocomplete(); 
    </script>
   
  </body>

</html>


{% comment %} 
function GetLatlong(){
        var geocoder = new google.maps.Geocoder();
        var address = $('#geolat').val();
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                return latitude,longitude
            }
            console.log("Not okay")

        });
        
    } {% endcomment %}
